.count {
    width: 80px;
    .MuiInputBase-root {
        border: 1px solid rgba(25, 118, 210, 0.5);
        border-radius: 0px !important;

        &:hover {
            border: 1px solid rgba(25, 118, 210);
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type=number] {
      -moz-appearance: textfield;
    }
}
