input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.MuiInputBase-input {
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-left: 0px solid white;
}

.count {
    width: 50px;
    border: 0px;
}

.count:active {
    border: 0px;
}

.count-button {
    border: 1px solid rgba(25, 118, 210, 0.5) !important;
    border-right: 0px solid;
}

.MuiButton-outlined {

}