.MuiDataGrid-row:nth-child(odd) {
    background-color: rgb(163, 171, 179);
    &:hover {
      background-color: rgb(54, 139, 224) !important;
    }
  }
  
  .MuiDataGrid-row:nth-child(even) {
    background-color: #cef;
    &:hover {
      background-color: rgb(54, 139, 224) !important;
    }
  }
  
  .MuiContainer-root {
    max-width: none !important;
  }
  