.MuiDataGrid-row:nth-child(odd) {
    background-color: #F8F9FA;
    &:hover {
      background-color: darkgray !important;
    }
  }
  
  .MuiDataGrid-row:nth-child(even) {
    background-color: #EBECED;
    &:hover {
      background-color: darkgray !important;
    }
  }
  
  .MuiContainer-root {
    max-width: none !important;
  }
  